<div class="input-group create-client-modal-container">
    <form class="d-flex flex-column w-100">
        <div class="d-flex justify-content-between">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input placeholder="Nome do cliente" type="text" class="form-control" id="name" name="name" [(ngModel)]="formData.name">
            </div>

            <div class="mb-3">
                <label for="contactName" class="form-label">Nome do Contato</label>
                <input placeholder="Nome do contato" type="text" class="form-control" id="contactName" name="contactName" [(ngModel)]="formData.contactName">
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <div class="mb-3">
                <label for="cnpj" class="form-label">Cnpj</label>
                <input placeholder="Cnpj (opcional)" type="text" class="form-control" id="cnpj" name="cnpj" [(ngModel)]="formData.cnpj">
            </div>

            <div class="mb-3">
                <label for="date" class="form-label">Registrado Em</label>
                <input placeholder="Data de registro" type="text" class="form-control" id="date" name="date" [(ngModel)]="formData.date">
            </div>
        </div>

        <button type="submit" class="btn btn-primary" (click)="onConfirm()">Criar</button>
    </form>
</div>
