.lateral-menu-container {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 100vh;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: white;
  margin: 1rem;
  border-radius: 0.5rem;

  img {
    width: 90%;
  }
}

.btn-lateral-menu {
  border-radius: 0;
  border: 0;
}

.btn-lateral-menu:hover {
  background-color: var(--blue600);
}

.btn-lateral-menu-active {
  background-color: var(--blue700);
}
