<div class="lateral-menu-container b-800">
    <div class="logo mb-4">
        <img src="assets/generic-logo.png" >
    </div>

    <button
            routerLink="clientes/1"
            type="button"
            [ngClass]="activeRoute === 'clientes' ? defaultButtonClass + ' btn-lateral-menu-active' : defaultButtonClass">Clientes</button>
    <button
            routerLink="avaliacoes/1"
            type="button"
            [ngClass]="activeRoute === 'avaliacoes' ? defaultButtonClass + ' btn-lateral-menu-active' : defaultButtonClass">Avaliações</button>
</div>
