@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-icons/font/bootstrap-icons";

.pointer {
  cursor: pointer;
}

.input-error {
  margin-top: 0.1rem;
  margin-left: 0.2rem;

  span {
    color: $danger;
  }
}

.bg-color-b7 {
  background-color: $blue-700;
}
